body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

 #navbar{
    background-color: #485fc7;
}

#navbar .button.is-text{
    color: white;
    text-decoration: none;
}

#navbar .button.is-text:hover{
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color:#3b3b3b;
}


.section{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section.welcome{
    justify-items: center;
    background-color: rgb(22, 22, 22);
}

.container.welcome{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section.welcome .title,
.section.welcome .subtitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.section.welcome .subtitle strong{
    color: #485fc7;
    margin: 0 5px;
}

.section.projects .title{
  
    text-align: center;
    margin-bottom: 40px;
}
.section.projects{
    display: flex;
    justify-items: center;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
}

.container.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#cards{
    display: flex;
    margin-bottom: 40px;
    height: 38%;
}

.card{
    width: 500px;
    margin-right: 40px;
}

.card-content{
    padding: 0;
}

.card-image img{
    object-fit:contain;
    background-color: rgb(22, 22, 22);

}

.card p.title{
    color: #485fc7;
}

.card p.title:hover{
    color: #7283d1;
}

#projects-more{
    margin-top: 10px;
    font-weight: 700;
    background-color: #485fc7;
}

#projects-more a{
    color: white;
}

#projects-more:hover{
    background-color: #3b3b3b;
    transition: background 0.3s ease-out;
}


#projects-more .transf:hover{
    margin-left: 5px;
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}
